@model IEnumerable<NetProject__UNIVERSITY_.CriteriaMark>

@{
    ViewData["Title"] = "Test";
}

<h2>Test</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FacultyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CriteriaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CriteriaMarkId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Mark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FacultyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CriteriaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CriteriaMarkId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
